body {
    padding-top: 100px;
}

.top-bar {
    color:  rgb(71, 39, 64);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#highscore {
    position: absolute;
    top: 0;
    left: 0;
}

#timeleft {
    position: absolute;
    top: 0;
    right: 0;
}

main {
    width: 500px;
    margin: 100px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
}

h1,
.rules {
    text-align: center;
}

#startbutton {
    display: block;
    background-color: rgb(71, 39, 64);
    color: white;
    margin: 30px auto;
}

h3 {
    width: 100%;
    font-size: 20px;
}

.result-box div {
    margin-top: 15px;
}

.submit {
    display: flex;
    align-items: center;
}

textarea, button {
    margin-left: 5px;
    margin-right: 5px;
}



#highscore-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#highscore-list {
    width: 100%;
}